* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #191919;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1260px;
  width: 100%;
  padding: 0 30px;
}

.card {
  border: none;
}

.a-rounded,
.button-rounded {
  border-radius: 50px;
}

.headline {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.headline .title {
  color: #b61984;
  font-weight: 600;
  margin-bottom: 0.5em;
}
.headline .content {
  color: #191919;
  font-weight: 700;
}

.header {
  position: fixed;
  background: transparent;
  width: 100%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  z-index: 999;
}
.header .header__vertical {
  position: fixed;
  width: 100%;
}
.header .header__vertical::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}
.header .header__vertical .container {
  display: flex;
  align-items: center;
}
.header .header__vertical .container .header__toggle {
  margin-top: 24px;
  margin-right: 10px;
}
.header .header__vertical .container .header__toggle span {
  font-weight: 300;
  font-size: 36px;
}
.header .header__vertical .container .header__toggle span:nth-child(1) {
  line-height: 0;
}
.header .header__vertical .container .header__toggle span:nth-child(2) {
  line-height: 0.5;
}
.header .header__vertical .container .header__toggle span:nth-child(3) {
  line-height: 0;
}
.header .header__vertical .container .header__logo img {
  width: 55%;
}
@media (min-width: 1200px) {
  .header .header__vertical {
    display: none;
  }
}
.header .container .header__main {
  display: none;
}
.header .container .header__main .header__logo img {
  width: 80px;
}
.header .container .header__main .header__navbar {
  display: flex;
}
.header .container .header__main .header__navbar li {
  padding-right: 50px;
}
.header .container .header__main .header__navbar li:hover .nav-link::after {
  transform: scale(1.5);
}
.header .container .header__main .header__navbar li .nav-link {
  position: relative;
  line-height: 80px;
  font-size: 13px;
  font-weight: 600;
  color: #191919;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.header .container .header__main .header__navbar li .nav-link:hover {
  color: #b61984;
}
.header .container .header__main .header__navbar li .nav-link:after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 5;
  bottom: -4px;
  margin-left: -4px;
  left: 50%;
  pointer-events: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
  transition: 300ms ease all;
  transform: scale(0);
}
.header .container .header__main .header__navbar li:nth-child(2) .nav-link::after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 5;
  bottom: -4px;
  margin-left: -4px;
  left: 50%;
  pointer-events: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #b61984;
  transition: 300ms ease all;
  transform: scale(1.5);
}
.header .container .header__main .header__navbar li:last-child {
  padding: 0;
}
.header .container .header__main .header__navbar .header__contact {
  margin-left: 50px;
}
.header .container .header__main .header__navbar .header__contact .phone-number {
  padding: 0.7rem 1.5rem;
  margin: 8px;
  position: relative;
  overflow: hidden;
  font-size: 13px;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 3rem #b61984 inset;
}
.header .container .header__main .header__navbar .header__contact .phone-number:hover {
  color: #b61984;
}
.header .container .header__main .header__navbar .header__contact .phone-number:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
}
.header .container .header__main .header__navbar .header__contact .social-media a {
  margin-left: 9px;
  font-size: 13px;
  font-weight: 500;
  color: #191919;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.header .container .header__main .header__navbar .header__contact .social-media a:hover {
  color: #b61984;
}
@media (min-width: 1200px) {
  .header .container .header__main {
    display: flex;
  }
}

.header.scrolled-on {
  background-color: #ffffff;
  transition: transform 1s ease;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
}
.header.scrolled-on .container .header__main {
  justify-content: flex-end !important;
}
.header.scrolled-on .container .header__main .header__logo {
  display: none;
}
.header.scrolled-on .container .header__main .header__navbar {
  align-items: center;
}
.header.scrolled-on .container .header__main .header__navbar .nav-link {
  line-height: 40px;
}
.header.scrolled-on .container .header__main .header__navbar .header__contact a {
  padding-top: 7px;
  padding-bottom: 7px;
}

.about-us {
  position: relative;
}
.about-us::before {
  content: "";
  position: absolute;
  background-image: url(/img/yellow_top_wave_01.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.about-us::after {
  content: "";
  position: absolute;
  background-image: url(/img/Violet_top_left_wave.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0;
}
.about-us .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about-us .container .about-us__left .headline .title {
  font-size: 16px;
}
.about-us .container .about-us__left .headline .content {
  font-size: 60px;
}
.about-us .container .about-us__left .headline .content {
  font-size: 37px;
  margin-bottom: 45px;
}
@media (min-width: 481px) {
  .about-us .container .about-us__left .headline .content {
    font-size: 47px;
  }
}
@media (min-width: 1200px) {
  .about-us .container .about-us__left .headline .content {
    font-size: 60px;
  }
}
.about-us .container .about-us__right img {
  max-width: 100%;
}

.team {
  background: #DCD1F0;
  position: relative;
}
.team::after {
  content: "";
  background-image: url(/img/Wave_White_bottom_right_shape_01.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  z-index: 1;
  bottom: 0;
}
.team .container .card {
  z-index: 2;
  transition: all 0.3s ease;
  border-radius: 10px;
}
.team .container .card .team__thumb {
  overflow: hidden;
}
.team .container .card .team__thumb:hover img {
  transform: scale3d(1.05, 1.05, 1.05);
}
.team .container .card .team__thumb img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  transition: all 0.65s ease-in-out;
}
.team .container .card:hover {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
}
.team .container .card .card-body {
  margin-top: 10px;
}
.team .container .card .card-body .headline .title {
  font-size: 11px;
}
.team .container .card .card-body .headline .content {
  font-size: 25px;
}
.team .container .card .card-body .card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 15px;
}

.request {
  background-image: url("/img/accent_bottom_wave_01.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.request .port .cell {
  width: 1000px;
  max-width: calc(100% - 60px);
}
.request .port .cell .request__left {
  padding-left: 35px;
  padding-right: 35px;
}
.request .port .cell .request__left .request__img {
  padding-top: 8px;
}
.request .port .cell .request__left .request__img img {
  width: 100%;
}
.request .port .cell .request__right .request__form {
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 25px;
  z-index: 100;
  background-color: #ffffff;
}
.request .port .cell .request__right .request__form .headline .content {
  font-size: 30px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .request .port .cell .request__right .request__form .headline .content {
    font-size: 38px;
  }
}
.request .port .cell .request__right .request__form form i {
  color: #b61984;
  font-size: 13px;
  position: absolute;
  padding: 13px;
}
.request .port .cell .request__right .request__form form input {
  padding: 10px 5px 10px 35px;
  border-radius: 50px;
  font-size: 11px;
}
.request .port .cell .request__right .request__form form input:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.request .port .cell .request__right .request__form form select {
  padding: 10px 5px 10px 35px;
  border-radius: 50px;
  font-size: 11px;
}
.request .port .cell .request__right .request__form form select:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.request .port .cell .request__right .request__form form textarea {
  padding: 10px 5px 10px 35px;
  border-radius: 50px;
  font-size: 11px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.request .port .cell .request__right .request__form form textarea:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.request .port .cell .request__right .request__form form a {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 3rem #b61984 inset;
  display: inline-block;
  padding: 0.9rem 3.5rem;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 45px;
}
.request .port .cell .request__right .request__form form a:hover {
  color: #b61984;
}
.request .port .cell .request__right .request__form form a:hover {
  box-shadow: 0 0 0 1px #b61984 inset;
}

.footer {
  position: relative;
  padding-bottom: 148px !important;
}
.footer::after {
  content: "";
  background-image: url(/img/footer_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  bottom: 0;
}
.footer .container .headline {
  margin-top: 24px;
  margin-bottom: 20px;
}
.footer .container .headline .content {
  font-size: 1.5rem;
  color: #ffffff;
}
.footer .container .footer__contact {
  display: flex;
  flex-direction: column;
}
.footer .container .footer__contact span {
  color: #ffffff;
  display: flex;
  align-items: center;
  line-height: 35px;
  font-size: 13px;
}
.footer .container .footer__contact span i {
  margin-right: 10px;
}
.footer .container .footer__contact span:first-child i {
  margin-left: 5px;
}
.footer .container .social-media {
  margin-top: 20px;
}
.footer .container .social-media a {
  margin-left: 9px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.footer .container .social-media a:hover {
  color: #191919;
}
.footer .container .social-media a:first-child {
  margin-left: 0;
}
.footer .container .footer__links {
  display: flex;
}
.footer .container .footer__links li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.footer .container .footer__links li a {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
  transition: all 0.3s ease;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  line-height: 40px;
}
.footer .container .footer__links li a:hover {
  color: #ffffff;
}
.footer .container .footer__links li a:hover {
  opacity: 0.8;
}
.footer .container .footer__subscribe input {
  padding: 13px;
  margin-top: 15px;
  background: transparent;
  border-radius: 50px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid rgba(235, 21, 150, 0.2);
}
.footer .container .footer__subscribe input::-moz-placeholder {
  color: #ffffff;
}
.footer .container .footer__subscribe input:-ms-input-placeholder {
  color: #ffffff;
}
.footer .container .footer__subscribe input::placeholder {
  color: #ffffff;
}
.footer .container .footer__subscribe input:focus {
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(255, 255, 255);
}
.footer .container .footer__subscribe a {
  font-size: 14px;
  font-weight: 600;
  color: #191919;
  text-transform: uppercase;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 3rem #ffffff inset;
  display: inline-block;
  width: 100%;
  padding: 13px;
  text-align: center;
  margin-top: 5px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.footer .container .footer__subscribe a:hover {
  color: #ffffff;
}
.footer .container .footer__subscribe a:hover {
  box-shadow: 0 0 0 1px #ffffff inset;
}