// START HEADER
.header {
    position: fixed;
    background: transparent;
    width: 100%;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    z-index: 999;
    .header__vertical {
        position: fixed;
        width: 100%;

        &::after {
            content: '';
            position: absolute;
            background-color: $bg-secondary;
            width: 100%;
            height: 100%;
            z-index: -1;
            top: 0;
        }

        .container {
            display: flex;
            align-items: center;

            .header__toggle {
                margin-top: 24px;
                margin-right: 10px;

                span {
                    font-weight: 300;
                    font-size: 36px;
                }

                span:nth-child(1) {
                    line-height: 0;
                }

                span:nth-child(2) {
                    line-height: 0.5;
                }

                span:nth-child(3) {
                    line-height: 0;
                }
            }

            .header__logo {
                img {
                    width: 55%;
                }
            }
        }

        @include responsive ("lg") {
            display: none;
        }
    }

    .container {
        .header__main {
            display: none;

            .header__logo {
                img {
                    width: 80px;
                }
            }

            .header__navbar {
                display: flex;

                li {
                    padding-right: 50px;
                    &:hover {
                        .nav-link::after {
                            transform: scale(1.5);
                        }
                    }
                    .nav-link {
                        position: relative;
                        line-height: 80px;
                        @include aTag($text-fs-1, $text-fw-6, $text-color-primary, capitalize, $text-color-secondary);

                        &:after {
                            content: ' ';
                            display: block;
                            position: absolute;
                            z-index: 5;
                            bottom: -4px;
                            margin-left: -4px;
                            left: 50%;
                            pointer-events: none;
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            background-color: $bg-primary;
                            transition: 300ms ease all;
                            transform: scale(0);
                        }
                    }
                }

                li:nth-child(2) {
                    .nav-link {
                        &::after {
                            content: ' ';
                            display: block;
                            position: absolute;
                            z-index: 5;
                            bottom: -4px;
                            margin-left: -4px;
                            left: 50%;
                            pointer-events: none;
                            height: 8px;
                            width: 8px;
                            border-radius: 50%;
                            background-color: $bg-primary;
                            transition: 300ms ease all;
                            transform: scale(1.5);
                        }
                    }
                }

                li:last-child {
                    padding: 0;
                }


                .header__contact {
                    margin-left: 50px;

                    .phone-number {
                        padding: .7rem 1.5rem;
                        margin: 8px;
                        position: relative;
                        overflow: hidden;
                        @include aTag ($text-fs-1, $text-fw-5, $text-color-white, capitalize, $text-color-secondary);
                        @include aButton ();
                    }

                    .social-media {
                        a {
                            margin-left: 9px;
                            @include aTag ($text-fs-1, $text-fw-5, $text-color-primary, capitalize, $text-color-secondary);
                        }
                    }
                }
            }

            @include responsive("lg") {
                display: flex;
            }
        }
    }
}

.header.scrolled-on {
    background-color: $bg-secondary;
    transition: transform 1s ease;
    box-shadow: 0 0 10px 0 rgb(204 204 204 / 50%);
    .container {
        .header__main {
            justify-content: flex-end !important;

            .header__logo {
                display: none;
            }

            .header__navbar {
                align-items: center;

                .nav-link {
                    line-height: 40px;
                }

                .header__contact {
                    a {
                        padding-top: 7px;
                        padding-bottom: 7px;
                    }
                }
            }
        }
    }
}

//END HEADER

//START ABOUT-US
.about-us {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        @include backgroundStyle(url(/img/yellow_top_wave_01.png), top left, no-repeat, contain, 100%, 100%);
    }

    &::after {
        content: '';
        position: absolute;
        @include backgroundStyle(url(/img/Violet_top_left_wave.png), bottom left, no-repeat, contain, 100%, 100%);
        bottom: 0;
    }

    .container {
        padding-top: 60px;
        padding-bottom: 60px;

        .about-us__left {
            .headline {
                @include titleAndContent();
                .content {
                    font-size: 37px;
                    margin-bottom: 45px;
                }
                @include responsive ("xxs") {
                    .content {
                        font-size: 47px;
                    }
                }
                @include responsive ("lg") {
                    .content {
                        font-size: $text-fs-6xl;
                    }
                }
            }
        }

        .about-us__right {
            img {
                max-width: 100%;
            }
        }
    }
}

//END ABOUT-US

// START TEAM
.team {
    background: #DCD1F0;
    position: relative;

    &::after {
        content: '';
        @include backgroundStyle(url(/img/Wave_White_bottom_right_shape_01.png), bottom left, no-repeat, contain, 100%, 100%);
        position: absolute;
        z-index: 1;
        bottom: 0;
    }

    .container {
        .card {
            z-index: 2;
            transition: $transition-primary;
            border-radius: 10px;

            .team__thumb {
                overflow: hidden;

                &:hover img {
                    transform: scale3d(1.05, 1.05, 1.05);
                }

                img {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    width: 100%;
                    transition: $transition-secondary;
                }
            }

            &:hover {
                box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
            }

            .card-body {
                margin-top: 10px;

                .headline {
                    @include titleAndContent($text-fs-0, $text-fs-3xl)
                }

                .card-text {
                    font-size: $text-fs-2;
                    font-weight: $text-fw-4;
                    line-height: 1.8rem;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

// END TEAM

//START REQUEST
.request {
    background-image: url('/img/accent_bottom_wave_01.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

    .port {
        .cell {
            width: 1000px;
            max-width: calc(100% - 60px);

            .request__left {
                padding-left: 35px;
                padding-right: 35px;

                .request__img {
                    padding-top: 8px;

                    img {
                        width: 100%;
                    }
                }
            }

            .request__right {
                .request__form {
                    box-shadow: 0 30px 30px -10px rgb(0 0 0 / 20%);
                    border-radius: 10px;
                    padding: 25px;
                    z-index: 100;
                    background-color: $color-white;

                    .headline {
                        .content {
                            font-size: 30px;
                            margin-bottom: 50px;
                            @include responsive ('lg') {
                                font-size: 38px
                            }
                        }
                    }

                    form {
                        i {
                            @include icon();
                        }

                        input {
                            @include input();
                        }

                        select {
                            @include input();
                        }

                        textarea {
                            @include input();
                            border-radius: 20px;
                            transition: $transition-primary;
                        }

                        a {
                            @include aTag($text-fs-2, $text-fw-6, $color-white, uppercase, $text-color-secondary, $transition-primary);
                            @include aButton();
                            display: inline-block;
                            padding: 0.9rem 3.5rem;
                            font-family: "Montserrat", Arial, Helvetica, sans-serif;
                            margin-top: 30px;
                            margin-bottom: 45px;
                        }
                    }
                }
            }
        }
    }
}

//END REQUEST
//START FOOTER
.footer {
    position: relative;
    padding-bottom: 148px !important;

    &::after {
        content: '';
        @include backgroundStyle(url(/img/footer_background.jpg), center, no-repeat, cover, 100%, 100%);
        position: absolute;
        bottom: 0;
    }

    .container {
        .headline {
            margin-top: 24px;
            margin-bottom: 20px;

            .content {
                font-size: 1.5rem;
                color: $text-color-white;
            }
        }

        .footer__contact {
            display: flex;
            flex-direction: column;

            span {
                color: $text-color-white;
                display: flex;
                align-items: center;
                line-height: 35px;
                font-size: $text-fs-1;

                i {
                    margin-right: 10px;
                }
            }

            span:first-child {
                i {
                    margin-left: 5px;
                }
            }
        }

        .social-media {
            margin-top: 20px;

            a {
                margin-left: 9px;
                @include aTag ($text-fs-2, $text-fw-5, $text-color-white, capitalize, $text-color-primary);

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .footer__links {
            display: flex;

            li {
                border-bottom: 1px solid rgba(0, 0, 0, .1);

                a {
                    @include aTag ($text-fs-1, $text-fw-4, $text-color-white, capitalize, $text-color-white);
                    font-family: "Roboto", Arial, Helvetica, sans-serif;
                    line-height: 40px;

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }

        .footer__subscribe {
            input {
                padding: 13px;
                margin-top: 15px;
                background: transparent;
                border-radius: 50px;
                color: $text-color-white;
                text-align: center;
                font-size: $text-fs-2;
                font-weight: $text-fw-4;
                border: 1px solid rgba(235, 21, 150, 0.2);

                &::placeholder {
                    color: $text-color-white;
                }

                &:focus {
                    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
                    border: 1px solid rgba(255, 255, 255, 1);
                }
            }

            a {
                @include aTag($text-fs-2, $text-fw-6, $text-color-primary, uppercase, $text-color-white, $transition-primary);
                @include aButton(0 0 0 3rem $bg-secondary inset, 0 0 0 1px $bg-secondary inset);
                display: inline-block;
                width: 100%;
                padding: 13px;
                text-align: center;
                margin-top: 5px;
                font-family: "Montserrat", Arial, Helvetica, sans-serif;
            }
        }
    }
}

//END FOOTER