$text-fs-0: 11px;
$text-fs-1: 13px;
$text-fs-2: 14px;
$text-fs-3: 16px;
$text-fs-4: 18px;
$text-fs-2xl: 20px;
$text-fs-3xl: 25px;
$text-fs-4xl: 30px;
$text-fs-5xl: 50px;
$text-fs-6xl: 60px;
$text-color-primary: #191919;
$text-color-secondary: #b61984;
$text-color-white: #ffffff;
$text-fw-3: 300;
$text-fw-4: 400;
$text-fw-5: 500;
$text-fw-6: 600;
$text-fw-7: 700;
$bg-primary: #b61984;
$bg-secondary: #ffffff;
$color-primary: #b61984;
$color-secondary: #191919;
$color-white: #ffffff;
$transition-primary: all .3s ease;
$transition-secondary: all .65s ease-in-out;